<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUqbvyK1vQYt92kXo5bmLHpl5Im5bzv90</string>
	<key>GCM_SENDER_ID</key>
	<string>463669969832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myExamProject</string>
	<key>PROJECT_ID</key>
	<string>appmgs-222fa</string>
	<key>STORAGE_BUCKET</key>
	<string>appmgs-222fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463669969832:ios:e15e9de80316e0ab83139d</string>
</dict>
</plist>